<div class="center hero-unit">
    <h1 >List of all Movies</h1>


    <table class="table table-striped">
      <ul class="pagination movies">
        <%= will_paginate @movies, renderer: BootstrapPagination::Rails %>
    <% @movies.each do |movie| %>
            <tr>
          <td><%= movie.title%></td>
          <td>(<%= movie.year%>)</td>
          <td><%= movie.description %></td>
            </tr>
    <% end %>
      </ul>
    </table>
</div>

